#events-page-content {
    font-family: 'FuturaLightC',Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #282828;
    height: 0;
    h3,
    h2 {
        font-family: 'FuturaMediumC',Arial, Helvetica, sans-serif;
        font-size: 24px;
        color: #282828;
    }
    .title {
        text-transform: uppercase;
        font-size: 36px;
        color: #fff;
    }
    .content-bg {
        top: -325px;
        padding-bottom: 930px;
        @media (min-width: 992px) {
            &::after {
                content: '';
                position: absolute;
                top: 15px;
                bottom: 755px;
                right: 3%;
                width: 2px;
                background-color: $sub-color;
                z-index: 10;
            }
            &::before {
                content: '';
                position: absolute;
                top: 15px;
                left: 40%;
                right: 3%;
                width: auto;
                height: 2px;
                background-color: $sub-color;
                z-index: 10;
            }
        }
        #write-us {
            .row {
                width: 100%;
            }
            @media (min-width: 992px) {
                &::before {
                    right: 3%;
                }
            }
        }
    }
    .events-item-banner {
        margin-bottom: 140px;
        img {
            width: 100%;
            height: auto;
        }
        .events-name {
            top: 20px;
            right: 15px;
        }
        @media (max-width: 992px) {
            margin-bottom: 60px;
        }
    }
    .events-name-title {
        margin-bottom: 40px;
    }
    .events-article {
        @media (max-width: 576px) {
            margin-top: 40px;
        }
    }
    .evetns-video-title {
        position: relative;
        bottom: -90px;
        padding-left: 45px;
        text-transform: uppercase;
        font-size: 30px;
        color: #ffffff;
        z-index: 2;
    }
    .events-video {
        position: relative;
        img {
            width: 100%;
        }
        .start-video {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: block;
            width: 67px;
            height: 43px;
            background: url('img/icon/youtube.svg') 0 0 no-repeat;
            background-size: 100%;
            cursor: pointer;
        }
    }
    #events-slider {
        margin-left: -20px;
        width: 100%;
        max-width: 1140px;
    }
    .events-slider-item {
        max-width: 265px;
        margin-left: 20px;
        display: block !important;
        width: auto !important;
        @media (max-width: 992px) {
            margin: 0 auto;
        }
    }
}