#programs-content {
    height: 0;
    .title {
        color: #fff;
    }
    .content-bg {
        top: -666px;
        #write-us {
            @media (min-width: 576px) {
                &::before {
                    top: 98px;
                }
            }
        }
    }
}
.programs-item {
    box-sizing: border-box;
    padding: 50px;
    background-color: #fff;
    border-radius: 5px;
    @media (max-width: 576px) {
        padding: 15px;
    }
}
.form-row-search {
    &.in-focus {
        .programs-table-seacrh-btn {
            opacity: 1;
        }
    }
    .programs-table-seacrh {
        box-sizing: border-box;
        box-shadow: none;
        border: 1px solid #fff;
        outline: none;
        &:focus {
            border: 1px solid #ced4da;
        }
    }
    .programs-table-seacrh-btn {
        position: absolute;
        top: 17px;
        left: 92%;
        display: block;
        width: 21px;
        height: 24px;
        border: none;
        outline: none;
        background: url('img/icon/search.svg') 0 0 no-repeat;
        background-size: 100%;
        opacity: .55;
        transition: .3s;
    }
}

.table-overflow {
    overflow-x: auto;
}
.programs-table {
    font-size: 24px;
    color: $dark-blue;
}
.table-name-column {
    font-family: 'FuturaMediumC',Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #ACACAC;
}   
td {
    font-family: 'FuturaLightC',Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    a {
        border-bottom: 1px dotted #1039be;
        color: #1039be;
        &:hover {
            text-decoration: none;
        }
    }
}
.index-row  {
    @extend td;
}